<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/login/login.css" />
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<meta charset="UTF-8">
<title>IKMO 로그인</title>
</head>
<body>
	<div>
		<img src="./img/login/IKMO_login.jpeg">
	</div>
	<form name="loginForm">
		<label>ID : </label><input id="userId" type="text" placeholder="아이디를 입력해주세요.">
		<label>PW : </label><input id="password" type="password" placeholder="비밀번호를 입력해주세요.">
		<button id="loginBtn" type="button"> 로그인 </button>
		<button id="signUpBtn" type="button"> 회원가입 </button>
	</form>
	<script src="./js/login/login.js"></script>
</body>
</html>