<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<meta charset="UTF-8">
<title>IKMO 회원가입</title>
</head>
<body>
	<form name="signUpForm">
		<label>ID : </label><input id="userId" type="text" placeholder="아이디">
		<button id="idCheckBtn" type="button">중복체크</button>
		<label>PW : </label><input id="password" type="password" placeholder="비밀번호">
		<label>PW check : </label><input id="passwordChk" type="password" placeholder="비밀번호 확인">
		<div id="checkMsg"></div>
		<button id="signUpBtn" type="button"> 등록 </button>
	</form>
	<script src="./js/login/signUp.js"></script>
</body>
</html>